* { 
  margin: 0;
  scroll-behavior: smooth;
}

/* ----- Custom Scrollbar properties -----*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cdcdcd;
}

/* ----- Navigation Menu ----- */
.logo {
  float: left;
  margin-top: -25px;
}
.nav {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #eaeaeb;
  text-align: right;
  height: 70px;
  line-height: 70px;
  background-color: #e5e7ec;
  z-index: 3;
}
.menu {
  margin: -70px auto;
  padding: 0px;
  word-spacing: 200px;
  text-align: center;
}
a {
  clear: right;
  text-decoration: none;
  color: black;
  margin: 0 10px;
  line-height: 70px;
  font-family: 'Poppins', sans-serif;
}

/* ----- Nav menu hover ----- */

.menu a:hover {
	font-style: italic;
  transition: .2s ease-in;
  cursor: pointer;
}
.menu a:active {
	font-size: 14px;
  transition: .2s ease-in-out;
  cursor: pointer;
}
label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}
#toggle {
  display: none;
}

/* ----- RESPONSIVE menu when < 1000px ----- */

@media only screen and (max-width: 1000px) {
  label {
    display: block;
    cursor: pointer;
  }
  .menu {
    width: 100%;
    display: none;
    background: #eaeaeb;
  }
  .menu a:hover {
    background-color: #ddd;
    color: black;
  }
  div a {
    text-align: center;
    display: block;
    border: 1px solid #eaeaeb;
    margin: 0;
  }
  #toggle:checked + .menu {
    display: block;
  }
}

/* ------ INTRO ------ */

.bg-intro .row {
  padding-top: 242px;
  padding-bottom: 150px;
  /*   height: 180px; */
}
.layer-intro {
  background-color: #f2f3f4;
  height: 500px;
  width: auto;
  z-index: 0;
}

/* ------ INTRO TYPO ------ */

.bg-intro {
  font-family: "Archivo Narrow", sans-serif;
}
.font-effect-anaglyph {
  font-style: italic;
}
.bg-intro h1 {
  bottom: 200px;
  position: relative;
  font-size: 60px;
  max-width: 700px;
  margin: 0 auto;
  text-transform: uppercase;
  line-height: 65px;
  letter-spacing: 25px;
}
.bg-intro h1:after {
  content: "Hello";
  position: absolute;
  left: 5px;
  top: 5px;
  color: #fcd5d5;
}
.h2 {
  margin: 90px;
  font-size: 25px;
  letter-spacing: 0px;
  text-transform: none;
}
.h3 {
  margin: 140px;
  font-size: 20px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 130px;
}

/* ------ PIC ------ */

#me {
  position: absolute;
  right: 140px;
  top: 60px;
  max-width: 100%;
  width: 300px;
  height: auto;
}

/* ------ LAUNCH BUTTON ------ */

.learnmorebtn {
  position: absolute;
  bottom: 280px;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  width: 120px;
  height: 30px;
  color: black;
  border: none;
  background: linear-gradient(
    to right,
    #fcd5d5 0%,
    white 100%
  ); /*linear-gradient(to right, #33ccff 0%, #ff99cc 100%);*/
  border-radius: 3px;
  box-shadow: 5px 5px #eaedf8;
  outline: none;
}

.learnmorebtn:hover {
  color: black;
  cursor: pointer;
  background: linear-gradient(to right, white 0%, #fcd5d5 100%);
}

.learnmorebtn:active {
  color: black;
  box-shadow: 5px 5px #c7cde3;
  /*linear-gradient(to left, #33ccff 0%, #ff99cc 100%);*/
  transform: translateY(4px);
}

/* ------ LAUNCH ICON PROPERTIES ------ */

.learnmorebtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.learnmorebtn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.learnmorebtn:hover span {
  padding-right: 10px;
}

.learnmorebtn:hover span:after {
  opacity: 1;
  right: 0;
}

/* ------ INTRO ARROW ------ */

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid black;
  margin: 0 auto;
}

/* ------ RESPONSIVE INTRO ------ */

@media screen and (max-width: 980px) {
  #me {
    display: none;
  }
  .bg-intro h1 {
    left: 200px;
  }
}
@media screen and (max-width: 767px) {
  .bg-intro h1 {
    top: 0px;
  }
  .bg-intro .row {
    padding-top: 105px;
    padding-bottom: 65px;
  }
  .learnmorebtn {
    width: 80px;
    height: 30px;
    font-size: 10px;
    bottom: 280px;
  }
  .h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 651px) {
  .bg-intro h1 {
    left: 200px;
  }
  .h3 {
    font-size: 15px;
  }
}
@media (max-width: 619px) {
  .bg-intro h1 {
    left: 140px;
  }
  .h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  .bg-intro h1 {
    left: 140px;
  }
  .learnmorebtn {
    width: 80px;
    height: 30px;
    font-size: 10px;
    bottom: 280px;
  }
  .h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 555px) {
  .bg-intro h1 {
    left: 90px;
  }
  .h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 495px) {
  .bg-intro h1 {
    left: 25px;
    font-size: 40px;
  }
  .h3 {
    font-size: 15px;
    margin: 10px;
  }
}
@media screen and (max-width: 475px) {
  .learnmorebtn {
    width: 80px;
    height: 30px;
    font-size: 10px;
    bottom: 280px;
  }
  .h3 {
    font-size: 15px;
  }
  .h2 {
    margin: 10px;
  }
}

@media only screen and (max-width: 414px) {
  .learnmorebtn {
    position: absolute;
    left: 0px;
  }
}

/* ------ MASONRY ------ */

.masonry {
  font-family: 'Noto Sans', sans-serif;
  columns: 1;
  column-gap: 200px;
  width: 100%;
  height: auto;
}
.masonry-item {
  border: 2px solid pink;
  display: inline-block;
  vertical-align: top;
  margin-top: 100px;
  margin-bottom: 200px;
  margin-right: 100px;
  margin-left: 100px;
}

/* ------ MASONRY details ------ */

.masonry-title {
  text-align: center;
}
.masonry-item,
.masonry-content {
  border-radius: 10px;
  overflow: hidden;
}
.masonry-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  transition: filter 0.25s ease-in-out;
}
.masonry-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
}
.masonry-content {
  overflow: hidden;
}
.masonry-item {
  color: #111111;
  background-color: #f9f9f9;
}
.masonry-title,
.masonry-description {
  margin: 0;
}
.masonry-title {
  font-weight: 700;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
}
.masonry-description {
  padding: 1.5rem;
  font-size: 0.75rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

/* ------ RESPONSIVE MASONRY ------ */

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    columns: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
    columns: 2;
  }
}


/* ------- CAROUSEL -------*/
.carousel{
  font-family: 'Fugaz One', cursive;
  text-align: center;
  font-size: 60px;
}
.fa-hand-point-down{
  font-size: 35px;
}
#carousel {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}

#slides {
  position: relative;
  width: 500px;
  height: 600px;
/*   background-color: pink;
  border: 20px solid green; */
  margin: 100px 0px 0px 600px;
}
.slide {
  width: 100%;
  position: absolute;
  border: 3px solid pink;
  left: 0px;
  top: 0px;
  border-radius: 30px;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.showing {
  opacity: 1;
  z-index: 2;
}

/* ------- LEFT / RIGHT BUTTONS -------*/

#prev {
  top: 90px;
  left: 100px;
  margin: auto;
  position: absolute;
  bottom: 350px;
}
#next {
  top: 90px;
  margin: auto;
  position: absolute;
  right: 100px;
  bottom: 350px;
}
#prev,
#next {
  cursor: pointer;
  outline: none;
  height: 50px;
  width: 50px;
  z-index: 2;

  background-color: #efecec;
  opacity: 0.5;
  border: solid transparent;
  font-size: 18px;
  border-radius: 50%;

  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
#prev:hover,
#next:hover {
  opacity: 1;
}
#prev:active {
  transform: translateY(2px);
  box-shadow: inset 2px 2px #c3c3c3;
}
#next:active {
  transform: translateY(2px);
  box-shadow: inset -2px 2px #c3c3c3;
}

/* ------- PLAY / PAUSE BUTTON -------*/

#pause {
  cursor: pointer;
  outline: none;
  position: absolute;
  bottom: 325px;
  right: 220px;
  margin: auto;
  height: 50px;
  width: 50px;
  z-index: 2;

  background-color: transparent;
  font-size: 20px;
  opacity: 1;
  border: solid transparent;
  border-radius: 50%;
}

/* ------- RESPONSIVE CAROUSEL ------- */

@media only screen and (max-width: 1000px) {
  #carousel {
    width: 95%;
  }
  #prev,
  #next {
    top: 90px;
  }
  #pause {
    bottom: 325px;
    right: 220px;
  }
}
@media only screen and (max-width: 660px) {
  #slides {
    width: 400px;
  }
  #prev,
  #next {
    top: 10px;
  }
  #prev {
    right: 400px;
  }
  #next {
    left: 230px;
  }
  #pause {
    bottom: 375px;
    right: 170px;
  }
}
@media only screen and (max-width: 576px) {
  #prev,
  #next {
    top: 10px;
  }
  #prev {
    right: 400px;
  }
  #next {
    left: 230px;
  }
  #pause {
    top: 176px;
    right: 170px;
  }
}
@media only screen and (max-width: 499px) {
  #prev,
  #next {
    top: 10px;
  }
  #prev {
    right: 400px;
  }
  #next {
    left: 230px;
  }
  #pause {
    /*     left: 300px; */
  }
}
@media only screen and (max-width: 434px) {
}
@media only screen and (max-width: 414px) {
  #slides {
    display: block;
    margin: 0;
  }
}

/* ---- CONTACT FORM ---- */

.contact{
  font-family: 'Fugaz One', cursive;
  text-align: center;
  font-size: 40px;
}
.fa-comment-dots {
   font-size: 35px;
}
form {
  max-width: 460px;
  margin: 300px auto;
  margin-left: 600px;
}
.feedback-input {
  color: white;
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #f2f3f4;
  border: 2px solid #fcd5d5;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.feedback-input:focus {
  border: 2px solid #e1e3e7;
}
textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
[type="submit"] {
  font-family: "Maven Pro", sans-serif;
  letter-spacing: 0px;
  width: 100%;
  background: #fcd5d5;
  color: #898b8f;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 900;
  outline: none;
}
[type="submit"]:hover {
  background: #e1e3e7;
  color: #f69696;
}
.form {
/*   background-color: black; */
  border: 15px solid white;
}

/* ------- FOOTER -------- */

/* footer fixed at bottom (not sticky) */
.footer {
  background-color: #e5e7ec;
/*   border: 2px solid blue; */
  text-align: center;
  height: 100px;
  line-height: 100px;
  overflow-y: hidden;
}
/* each icon in footer */
.fab,
.fa-code {
  font-size: 20px;
  color: black;
  margin: 0px 20px 0px 20px;
  padding-right: 190px;
}
.fab:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.fa-code:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
/* made with love text in footer */
.thanks {
  line-height: 100px;
  padding-right: 30px;
  float: right;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: black;
  letter-spacing: 3px;
}
/* made with love icons */
.fa-heart {
  color: #e62626;
}
.fa-mug-hot {
  color: #7c5b43;
}

/* ------- RESPONSIVE FOOTER ------- */

@media only screen and (max-width: 1154px) {
  .footer a {
    width: 100px;
    display: inline-block;
    padding: 0px;
    margin: 0;
  }
@media only screen and (max-width: 1054px) {
  .footer a {
    width: 100px;
    text-align: center;
    display: inline-block;
    padding: 0px;
    margin: 0;
  }
  .fab,
  .fa-code {
    margin: 0px 20px 0px 20px;
    padding-right: 200px;
  }
  .thanks {
    display: none;
  }
}
@media only screen and (max-width: 443px) {
  .fab,
  .fa-code {
    font-size: 15px;
    padding: 0;
  }
  .footer a {
    width: 90px;
    text-align: center;
    display: inline-block;
    padding: 0px;
    margin: 0;
  }
}
@media only screen and (max-width: 403px) {
  .fab,
  .fa-code {
    font-size: 15px;
    padding: 0;
  }
  .footer a {
    width: 50px;
    text-align: center;
    display: inline-block;
    padding: 0px;
    margin: 0;
  }
}
